<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat room</title>
</head>

<body>
    <h4 id="peer-id">My peer id: </h4>
    </br>
    <video id="localStream" width="300" controls></video>

    <video id="friendStream" width="300" controls></video>
    <br>

    <input type="text" width="200px" placeholder="Your peer id" id="txtFriendId">
    <br>
    <button id="btnCall">Call</button>
    <script src="bundle.js">
    </script>
</body>

</html>